<?xml version="1.0" encoding="UTF-8"?>
<!-- This file declares that this project is indeed a web application. -->
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

  <!-- Set the project stage to "Development" this enables warning/debug 
    JSF messages. The stage can be set to "Production" to disable debug messages. -->
  <context-param>
    <param-name>javax.faces.PROJECT_STAGE</param-name>
    <param-value>Development</param-value>
  </context-param>

  <!-- Instantiate the FacesServlet on startup so JSF pages can be rendered. -->
  <servlet>
    <servlet-name>Faces Servlet</servlet-name>
    <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>

  <!-- Instruct the FacesServlet to use a specific URL pattern. Every file 
    that ends with *.xhtml will be rendered. -->
  <servlet-mapping>
    <servlet-name>Faces Servlet</servlet-name>
    <url-pattern>*.xhtml</url-pattern>
  </servlet-mapping>
</web-app>
